<div class="app-container">
    <header>
    <h1>github<span style="color: grey;">&#x40;</span>h-h-v</h1>
<h1 style="color: orange;">
&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_<br>
| | | | | | | | | |&nbsp;| |<br>
| |_| | | |_| | | |&nbsp;| |<br>
|  &nbsp;_&nbsp;&nbsp;|<span style="color: grey;">~</span>|  &nbsp;_&nbsp;&nbsp;|<span style="color: grey;">~</span>| |&nbsp;| |<br>
| | | | | | | | \ |_|&nbsp;/<br>
\_| |_/ \_| |_/ &nbsp;\___/<br>                                         
</h1>                                                 
        <h1>welcome:$ ~</h1>
        <h2 style="font-weight: bold;">Undergrad Software developer looking for interns</h2>
        <h1>Projects</h1> 
        <a href="https://h-h-v.vercel.app/">Portfolio Website&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="https://github.com/h-h-v/java-project">Library Management System&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="https://github.com/h-h-v/DB">DB</a>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
