h1{
    color: whitesmoke;
    font-size: 20px;
    font-weight: lighter;
}
h2{
    color: whitesmoke;
    font-weight: lighter;
}
a{
    color: whitesmoke;
    text-decoration: dashed;
}
