/* You can add global styles to this file, and also import other style files */
html{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5%;
}
body{
    background-color: black;
    height: device-height;
    font-family: consolas;
    font-weight: lighter;
    margin: 30px;
}
